.container {
  display: flex;
  flex-direction: column;

  & > p {
    margin-top: 2.5rem;
    color: #e8e8eb;
    text-align: center;

    & > a {
      text-decoration: underline;
      transition: color 0.2s;
    }
    & > a:hover {
      color: rgb(73, 209, 168);
    }
  }
}

.profileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.76rem 1.5rem;
  background: url("/img/bg.jpg") no-repeat;
  background-size: cover;
  margin: 0.5rem 0;
  border-radius: 0.8rem;
  & section:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > img {
      width: 10rem;
      height: 10rem;
      border-radius: 5rem;
    }
    & > div {
      margin-left: 1.3rem;

      & > h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
      }

      & > p {
        margin: 0.9rem 0;
        text-align: center;
        font-size: 1.2rem;
      }

      & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d1d1d1;
        font-family: Inter, sans-serif;
        padding: 0.5rem 0;
        border-radius: 0.4rem;
        background: #99999934;
        transition: background 0.2s;
        & > img {
          margin-right: 0.5rem;
        }

        &:hover {
          background: #ffffff2c;
        }
      }
    }
  }

  & section:nth-child(2) {
    width: 20rem;
    & > p {
      text-align: right;
      font-size: 1.1rem;
      color: #dae3f6;
      & > img {
        margin-right: 0.5rem;
      }
    }

    & > div {
      padding: 1rem 1.5rem;
      background: #000c1d75;
      color: #d3d3d3;
      font-family: Inter, sans-serif;
      border-radius: 0.5rem;
      margin-top: 0.8rem;
      border: 1px solid #dddd;
    }
  }
}

.linksContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4.75rem;
  gap: 2rem;

  & > section {
    width: 100%;

    border-radius: 0.6rem;
    padding: 1.3rem 0.8rem;
    background: var(--blue-600);
    margin-bottom: 1.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    transition: transform 0.2s ease-in;
    &:hover {
      transform: scale(1.04);
    }

    & > p {
      font-size: 1.2rem;
    }

    & > div {
      margin-top: 1.5rem;
      color: var(--white);

      font-family: Roboto, sans-serif;

      & > a {
        padding: 0.4rem 1rem;
        border-radius: 0.3rem;
        background: #ffffff18;
        transition: color 0.2s;
      }
      & > a:hover {
        color: var(--green-400);
      }
    }
  }
}
