.profile_wrapper {
  width: fit-content;
  margin-top: 2rem;
  padding: 1rem;
  background: rgba(54, 41, 117, 0.17);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 0.7rem;
  overflow: hidden;

  display: flex;
  align-items: flex-start;
}

.profile_image {

  > img {
    width: 95px;
    height: 95px;
    border-radius: 25%;
    object-fit: cover;
    margin: 0 1rem;
    border: 3px solid var(--blue-900)
  }
}

.profile_info {
  padding: 0 1rem;

  h2 {
    line-height: 2;
  }
  > a {
    width: fit-content;
    padding: 0.5rem;
    color: var(--white);
    background: rgba(34, 218, 110, 0.46);
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    font-family: Nunito, sans-serif;
    transition: 0.2s;
    cursor: pointer;

    > svg {
      margin-right: 0.3rem;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}